

<div class="panel panel-default sidebar-menu search">
    {{ if not .IsHome }}
    <div class="panel-heading">
      <h3 class="panel-title">{{ i18n "search_title" }}</h3>
    </div>
    {{ end }}
    <div class="position-relative">
        <div id="autocomplete-container" class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="ti-search"></i></span>
            </div>
            <input id="search" class="form-control" placeholder="{{ i18n `search` }}" aria-describedby="basic-addon1">
        </div>
        <!-- Javascript -->
        {{ $currentNode := . }}
        {{ $currentNode.Scratch.Set "pages" .Site.Pages }}
        {{ $pages := ($currentNode.Scratch.Get "pages") }}
        <script>
            $(function () {
                var projects = [
                {{ range $pages }}
                {
                        value: "{{ .Title }}",
                        path: "{{ .Permalink }}",
                        label: "<p>{{ .Summary }}</p><p>{{ .Plain }}</p>{{range .Params.Keywords }}<p>{{.}}</p>{{ end }}",
                        url: "{{ .Permalink }}"
                },
                {{ end }}
                ];
                $("#search").autocomplete({
                    source: projects,
                    appendTo: '#autocomplete-container',
                }).data("ui-autocomplete")._renderItem = function (ul, item) {
                    return $("<li>")
                        .append("<a href=" + item.url + " + \" &quot;\" +  >" + item.value + " <span class=\"secondary\" >("+ item.path + ")</span></a>" + item.label)
                        .appendTo(ul);
                };
            });
        </script>
    </div>
</div>


