
<div style="display: flex;">
{{ $borderActive := and (gt (len .Params) 0) (eq ($.Get (sub (len .Params) 1)) "true") }}
{{ $border := "border: 1px solid black;" | safeCSS }}
{{- range (seq 0 (sub (len .Params) 1) ) }}
    {{ $color := $.Get . | safeCSS }}
    {{ if (not (eq $color "true")) }}
        <div class="color-palette-single-color-container">
            <span class="color-palette-single-color" title="{{ $color }}" style="background-color: {{ $color }}; {{ if $borderActive }}{{ $border }}{{ end }}"></span>
        </div>
        {{ $border = "border: 1px solid black; border-left: none;" | safeCSS }}
    {{ end }}
{{- end }}
</div>
