{{ $tab := .Get 0 }}
{{ $tabID := print (.Parent.Get "id") $tab }}
{{ $tabName := (print "tabName" $tab) }}

{{ $contentType := (.Get 1) | default "HTML" }}

{{ $active := ""}}
{{ if eq $tab 0 }}
{{ $active = "active"}}
{{ end}}

<div class="tab-pane fade show {{ $active}}" id="tab{{ $tabID }}" role="tabpanel" aria-labelledby="nav-{{ $tabName }}">
    {{ if  eq $contentType "HTML" }}
    {{ $.Inner | safeHTML }}
    {{ else if eq $contentType "md"}}
    {{ $.Inner | markdownify }}
    {{ else }}
    {{ $.Inner }}
    {{ end}}
</div>