{{ $tabID := .Get "id" }}

<div class="group-tabs">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            
            {{ $tabs := split (.Get "tabs") "," }}
            {{ range $i, $tab :=  $tabs }}

                {{ $tabName := (print "tabName" $i) }}
                {{ $tabHREF := (print "tab" $tabID $i) }}

                {{ if eq $i 0 }}
                    <a class="nav-item nav-link nav-tab active" id="nav-{{ $tabID }}" data-toggle="tab" href="#{{ $tabHREF | urlize }}" role="tab" aria-controls="nav-home" aria-selected="true">{{ $tab }}</a>
                {{ else }}
                    <a class="nav-item nav-link nav-tab" id="nav-{{ $tabID }}" data-toggle="tab" href="#{{ $tabHREF | urlize }}" role="tab" aria-controls="nav-home" aria-selected="false">{{ $tab }}</a>
                {{ end }}
            {{ end }}
        </div>
    </nav>

    <div class="tab-content" id="{{ $tabID }}">
        {{ .Inner }}
    </div>
</div>