{{$currentPage:=.currentPage}}
{{$item:=.item}}
{{$currentURL:=.currentURL}}

{{$open:=$item.IsAncestor $currentPage}}

{{ if eq $item.Params.visible false }}{{ else }}

<li class="nav-item dropdown {{ if $open }}active{{ end }} {{ if .sub }}iq-pl-10{{ end }}">
	<a class="nav-link {{ if $open }}active{{ end }} dropdown-toggle" href="javascript:void(0)"
		id="btn-{{  replaceRE  "[^a-zA-Z0-9]+" "-" $item.Name }}" data-toggle="collapse"
		data-target="#submenu-{{ replaceRE  "[^a-zA-Z0-9]+" "-" $item.Name  }}"
		aria-expanded="true">{{ $item.Title }}</a>
	<ul class="nav {{ if $open }}in show{{ else }}collapse{{ end }}"
		id="submenu-{{ replaceRE  "[^a-zA-Z0-9]+" "-" $item.Name }}" role="menu" aria-labelledby="btn-{{ $item.Name }}">

		{{ range sort $item.Pages.ByDate }}

		{{ if .Pages}}
		{{ partial "left_bar section.html" (dict "item" . "currentPage" $currentPage "currentURL" $currentURL "sub" true) }}
		{{ else }}
		{{ if eq $currentURL .URL }}
		<li class="nav-item iq-pl-10"><a class="nav-link active" href="#">{{ .Title }}</a></li>
		{{ else }}
		<li class="nav-item iq-pl-10"><a class="nav-link" href="{{ .Permalink }}">{{ .Title }}</a></li>
		{{ end }}
		{{ end }}

		{{ end }}
	</ul>
</li>
{{ end }}