<!-- determine root section (max two parent levels)-->
{{ if eq .CurrentSection.Params.root false }}
{{ if eq .CurrentSection.Parent.Params.root false }}
{{ .Scratch.Set "rootSection" .CurrentSection.Parent.Parent }}
{{ else }}
{{ .Scratch.Set "rootSection" .CurrentSection.Parent }}
{{ end }}
{{ else }}
{{ .Scratch.Set "rootSection" .CurrentSection }}
{{ end }}
{{ $rootSection := .Scratch.Get "rootSection" }}
<!--       -->


{{ $currentPage := . }}

<nav class="panel sidebar-menu left-sidebar affix" data-spy="affix">
	<div class="panel-heading">
		<h3 class="panel-title">{{ $rootSection.Title }}</h3>
	</div>
	<div class="panel-body">
		<div id="left-sidebar" class="nav flex-column" style="padding-left:0;">

			{{ $currentURL := .URL }}

			{{ $all := union $rootSection.Pages $rootSection.Sections }}

			{{ if gt (len $all) 1 }}

			{{ range sort $all.ByDate }}

			{{ if .Pages }}
			{{ partial "left_bar section.html" (dict "item" . "currentPage" $currentPage "currentURL" $currentURL) }}
			{{ else }}
			<!-- not a section -->
			{{ if ne $currentURL .URL }}
			<li class="nav-item"><a class="nav-link" href="{{ .Permalink }}">{{ .Title }}</a></li>
			{{ else }}
			<li class="nav-item"><a class="nav-link active" href="#">{{ .Title }}</a></li>
			{{ end }}
			{{ end }}

			{{ end }}

			{{ end }}
		</div>
	</div>
</nav>