<div class="col-lg-3 p-3 module {{ .Params.Theme }}">
	<a href="{{ .URL }}{{ .Params.StartPage }}">
    <div class="card text-center h-100">
        {{ if .Params.Icon }}
        <div class="iq-works-box text-center p-0 pt-4 pb-2">
            <div class="icon-bg center-block m-auto">
                <i aria-hidden="true" class="{{ .Params.Icon }}"></i>
            </div>
        </div>
        {{ else }}
        <img class="card-img-top" src="{{ .Site.BaseURL }}{{ .image | absURL }}" alt="Card image cap">
        {{ end }}
        <div class="card-body">
            <p class="lead text-left">Module</p>
            <h5 class="card-title">{{ .Title }}</h5>
            <p class="card-text lead">{{ .Params.Description | markdownify }}</p>
            <div class="w-100" style="position:absolute; bottom:10px;">

            </div>
        </div>
        <div class="p-3">
            <a href="{{ .URL }}{{ .Params.StartPage }}" class="button pull-left pt-1 pb-1">Ouvrir</a>
            <p class="pull-right small mt-2">~{{ .Params.Duration }}</p>
        </div>
    </div>
    </a>
</div>