<!DOCTYPE html>
<html lang="fr">

{{ partial "head.html" . }}

<body data-spy="scroll" data-offset="284">

	<div id="all">

		<header> {{ partial "nav.html" . }} </header>

		{{ partial "breadcrumbs.html" . }}

		<div id="content">
			<section id="capacities"  class="section section--border-bottom pt-0 m-0">
				{{ range .Data.Pages}}
				{{ partial "capacity.html" (dict "capacity" . "details" true "name" .BaseFileName)  }}
				{{ end }}
			</section>
		</div>
		<!-- /#content -->

		{{ partial "footer.html" . }} {{ partial "sticky.html" . }}

	</div>
	<!-- /#all -->

	{{ partial "scripts.html" . }}

</body>

</html>