<footer>
    <!-- Footer Info -->
    <section class="footer-info iq-pt-60">
        <div class="container">
            <div class="row iq-mt-40">
                <div class="col-sm-12 text-center">
                    <div class="footer-copyright iq-ptb-20">
                        Copyright @<span id="copyright">
                            <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                        </span> FlowerDocs - <a href="/mentions-legales">Mentions légales</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>