<nav class="navbar navbar-expand-lg navbar-light bg-white menu-top">
    <div class="container">
        <a href="https://flowerdocs.com" class="navbar-brand">
            <img class="img-fluid" src="{{ .Site.BaseURL }}img/logo.svg" alt="logo FlowerDocs" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>



        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav ml-auto p-2">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <li
                    class="nav-item {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }} {{ if .HasChildren }}dropdown{{ end }}">
                    {{ if .HasChildren }}
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">{{ .Name }}</a>
                    <div class="dropdown-menu">
                        {{ range sort .Children "Weight" }}
                        <a class="dropdown-item d-flex pt-2 pb-2 {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}"
                            href="{{ .URL }}">
                            <i class="{{ .Pre }} mt-2 "></i></i>
                            <div>
                                <span class="mb-2">{{ .Name }}</span>
                                <p class="text-muted small">{{ .Post }}</p>
                            </div>
                        </a>
                        {{ end }}
                    </div>


                    {{ else }}
                    <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                    {{ end }}
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>

<ul class="breadcrumb container pt-2 pl-3">
    {{ if .Parent }}
    	{{ if eq .Language.Lang "fr" }}
    	<a href="/documentation">
    	{{ else }}
    	<a href="/{{ .Language.Lang }}/documentation">
    	{{ end }}
        <i class="fa fa-home pr-2"></i>
    </a>
    {{ if .Parent.Parent }}
    {{ if not .Parent.Parent.IsHome }}
    <li class="breadcrumb-item">
        {{ if .Parent.Params.startpage }}
        <a href="{{ .Parent.Parent.URL }}{{ .Parent.Parent.Params.startpage }}">
            {{ else }}
            <a href="{{ .Parent.Parent.URL }}">
                {{ end }}
                {{.Parent.Parent.Title}}
            </a>
    </li>
    {{ end }}
    {{ end }}

    <li class="breadcrumb-item">
        {{ if .Parent.Params.startpage }}
        <a href="{{ .Parent.URL }}{{ .Parent.Params.startpage }}">
            {{ else }}
              {{ if eq .Parent.Title "FlowerDocs" }}
                {{else}}
                <a href="{{ .Parent.URL }}">
                {{end}}
                {{ end }}
                {{ if isset .Parent.Params "fixversion" }}
                {{ $version := .Parent.Title }}
                {{ $delimiter := "" }}
                {{ $fixVersion := .Parent.Params.fixversion }}
                {{ if or (hasPrefix $version "2.3") (eq $version "2.4.0") }}
                {{ $delimiter = "-" }}
                {{else }}
                {{ $delimiter = "." }}
                {{end}}
                {{$version = print $version $delimiter $fixVersion }}
                {{ $version }}
                {{else}}
                {{.Parent.Title}}
                {{end}}
            </a>
    </li>
    <li class="breadcrumb-item active">{{.Title}}</li>
    <div id="inside-toc" class="">
        <a class="nav-link breadcrumb-item pt-0 d-none"></a>
        {{ range  .CurrentSection.Pages }}
        <a class="nav-link breadcrumb-item pt-0" id="{{.BaseFileName}}-link" href="#{{.BaseFileName}}">{{.Title}}</a>
        {{end}}

    </div>
    {{end}}
</ul>