{{ $title := .Get "title" }}
{{ $image := .Get "image" }}
{{ $icon := .Get "icon" }}
{{ $number := .Get "number" }}
{{ $style := .Get "style" }}
{{ $justify := .Get "justify" }}

{{ if $style }}
<div class="{{ $style }}"> 
{{ else }}
<div class="col-lg text-center">
{{ end }}

    <div class="card h-100  p-2">

        {{ if $image }}
        <img class="card-img-top" src='{{ .Get "image" | absURL }}' alt='{{ .Get "title"}}' />
        {{ end }}
        {{ if $icon }}
        <span class="icon-bg center-block m-auto">
            <i aria-hidden="true" class='{{ $icon }}'></i>
        </span>
        {{ end }}
        {{ if $number }}
        <span class="icon-bg center-block m-auto rounded-number">
            <i aria-hidden="true">{{ $number }}</i>
        </span>
        {{ end }}


        <div class="card-body d-flex flex-column overflow-auto">
            {{ if $title }}
            <h5 class="card-title">{{ .Get "title"}}</h5>
            {{ end }}
            {{ if eq $justify "false" }}
                <p class="card-text text-left lead"><p>{{ .Inner | markdownify }}</p></p>
            {{ else }}
                <p class="card-text text-justify lead">{{ .Inner | markdownify }}</p>
            {{ end }}
        </div>
    </div>
</div>