{{ if .Get "version" }}
	{{ $.Scratch.Set "realVersion" (.Get "version") }}
{{ else if in (.Get "artifactId") "rendition"  }}
	{{ $.Scratch.Set "realVersion" (.Site.Params.arenderCurrentVersion) }}
{{ else }}
	{{ $.Scratch.Set "realVersion" (.Site.Params.currentVersion) }}
{{ end }}

<div class="col-12 download-item">
	<div class="col-sm-8">
		<h6>{{ .Get "name"}}</h6>
		{{ .Get "description"}} (Version : {{ $.Scratch.Get "realVersion" }})
	</div>
	<div class="col-sm-4">
		<ul class="pager">
				<li class="next"><a 
					href="https://artifactory.arondor.cloud/artifactory/arondor-release/{{ .Get "groupId"}}/{{ .Get "artifactId"}}/{{ $.Scratch.Get "realVersion" }}/{{ .Get "artifactId"}}-{{ $.Scratch.Get "realVersion" }}{{ .Get "classifier"}}.{{ .Get "type"}}.sha256">Sha256</a>
				</li>
				<li class="next"><a 
					href="https://artifactory.arondor.cloud/artifactory/arondor-release/{{ .Get "groupId"}}/{{ .Get "artifactId"}}/{{ $.Scratch.Get "realVersion" }}/{{ .Get "artifactId"}}-{{ $.Scratch.Get "realVersion" }}{{ .Get "classifier"}}.{{ .Get "type"}}">{{ .Get "type" | upper }}</a>
				</li>
		</ul>
	</div>
</div>
<hr>