{{ $realVersion := .Site.Params.currentVersion }}
{{ if .Get "version" }}
	{{ $realVersion = .Get "version" }}
{{ end }}
<!-- This is made because fix version dont have their own page, so we get rid of the last number -->
{{ $releaseNoteVersion := $realVersion }}
{{ $versionParts := split $realVersion "."}}
{{ if ( eq ( $versionParts | len ) 4) }} 
	{{ $releaseNoteVersion = delimit ( first 3 ( $versionParts) ) "."  }}
{{else if ( eq ( $versionParts | len ) 3) }} 
	{{ $releaseNoteVersion = delimit ( first 2 ( $versionParts) ) "."  }}
{{end}}


<div class="col-12 download-item">
	<div class="col-sm-8">
		<h6>Notes de version</h6>
		Version : {{ $realVersion }}
	</div>
	<div class="col-md-4">
		<ul class="pager">
			<li class="next"><a href="../../../releases/{{ $releaseNoteVersion }}/release-notes/">Voir</a>
		</ul>
	</div>
</div>
<hr>