{{ define "main" }}

{{ "<!-- topics -->" | safeHTML }}
<div class="container">
  <section class="section documentation">
    <div class="row justify-content-center">
      {{ partial "topics.html" . }}
    </div>
  </section>
</div>

{{ if .Site.Params.cta.enable }}
{{ with .Site.Params.cta }}
{{ "<!-- call to action -->" | safeHTML }}
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section px-3 bg-white shadow text-center">
          <h2 class="mb-4">{{ .title | markdownify }}</h2>
          <p class="mb-4">{{ .content | markdownify }}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .link | relLangURL }}" class="btn btn-primary">{{ .label }}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- /call to action -->" | safeHTML }}
{{ end }}
{{ end }}

{{ partial "back-top.html" . }}

{{ end }}