<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}

<body data-spy="scroll" data-target="#TableOfContents">
	{{ if eq .Section "versions" }}
	{{- block "main" . }}{{- end }}
	{{ else }}

	{{- partial "preloader.html" . -}}

	{{- partial "header.html" . -}}
	<!-- Nav -->

	{{ if (and (ne .Section "404") (ne .Section "demo")) }}
	{{ partial "breadcrumbs.html" . }}
	{{ end }}

	{{- block "main" . }}{{- end }}

	{{ if not (or (eq .Section "404") (eq .Section "demo")) }}
	{{- partial "footer.html" . -}}
	{{ end }}

	{{ end }}


	<!-- Code de suivi Hubspot -->
	<!-- Start of HubSpot Embed Code -->
	<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5356029.js"></script>
	<!-- End of HubSpot Embed Code -->


	<!--  Data Tracking  -->
	<noscript>
		<img src="https://ws.zoominfo.com/pixel/61377f852f261d0013f189c5" width="1" height="1" style="display: none;" />
	</noscript>

</body>

</html>