{{ "<!-- sidebar -->" | safeHTML }}
<aside class="col-lg-4 order-1 order-lg-2">

  {{ "<!-- categories -->" | safeHTML }}
  <div class="bg-white mb-5">
    <h3 class="mb-4">{{ i18n "categories" }}</h3>
    {{- if isset .Site.Taxonomies "categories" }}
    {{- if not (eq (len .Site.Taxonomies.categories) 0) }}
    <ul class="list-unstyled">
      {{- range $name, $items := .Site.Taxonomies.categories }}
      <li class="border-bottom"><a href="{{ `categories/` | relLangURL }}{{ $name | urlize | lower }}" class="d-block pb-3 mt-3">{{ $name | title | humanize }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
    {{- end }}
  </div>

  {{ "<!-- tags -->" | safeHTML }}
  <div class="bg-white mb-5">
    <h3 class="mb-4">{{ i18n "tags" }}</h3>
    {{- if isset .Site.Taxonomies "tags" }}
    {{- if not (eq (len .Site.Taxonomies.tags) 0) }}
    <ul class="list-inline">
      {{- range $name, $items := .Site.Taxonomies.tags }}
      <li class="list-inline-item mb-2"><a class="px-3 py-2 d-block bg-light" href="{{ `tags/` | relLangURL }}{{ $name | urlize | lower }}">{{ $name | humanize }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
    {{- end }}
  </div>

  {{ "<!-- versions list page -->" | safeHTML }}
  <div class="bg-white mb-5">
    <h3 class="mb-4">Versions</h3>
    <a href="/versions" class="documentation">Go to versions list of ARender<i class="icon mdi-open-in-new" style="font-size: 12pt; margin-left: 6px;"></i></a>
  </div>

  {{ "<!-- latest post -->" | safeHTML }}
  <div class="bg-white">
    <h3 class="mb-4">{{ i18n "latest_article" }}</h3>
    {{ "<!-- post-item -->" | safeHTML }}
    {{ range first 3 ( where .Site.Pages "Type" "post" )}}
    <div class="media border-bottom border-color pb-3 mb-3">
      <div class="media-body">
        <a href="{{ .Permalink }}">
          <h5 class="mt-0">{{ .Title }}</h5>
        </a>
        {{ .PublishDate.Format "02 Jan 2006" }}
      </div>
    </div>
    {{ end }}
  </div>

</aside>
{{ "<!-- /sidebar -->" | safeHTML }}