{{$currentPage:=.currentPage}}
{{$item:=.item}}
{{$currentURL:=.currentURL}}
{{$indent:=.indent | default 0}}

{{$open:=$item.IsAncestor $currentPage}}

{{ if eq $item.Params.visible false }}{{ else }}
<li class="nav-item dropdown {{ if $open }}active{{ end }} {{ if .sub }}iq-pl-10{{ end }}" style="padding-left: {{ (float $indent) | mul 5.0 }}px;">
	<a class="nav-link {{ if $open }}active{{ end }} dropdown-toggle" href="javascript:void(0)"
	   id="btn-{{  replaceRE  "[^a-zA-Z0-9]+" "-" $item.Name }}" data-toggle="collapse"
	data-target="#submenu-{{ replaceRE  "[^a-zA-Z0-9]+" "-" $item.Name  }}"
	aria-expanded="true">{{ $item.Title }}</a>

	<ul class="nav {{ if $open }}in show{{ else }}collapse{{ end }}"
		id="submenu-{{ replaceRE  "[^a-zA-Z0-9]+" "-" $item.Name }}" role="menu" aria-labelledby="btn-{{ $item.Name }}">

{{ $isCurrentPage := eq $item.Permalink $currentURL }}
{{ if or $isCurrentPage (eq $item $currentPage) }}
<li class="nav-item iq-pl-10 {{ if eq $item $currentPage }}active{{ end }}" style="padding-left: {{ (float (add $indent 1)) | mul 5.0 }}px;"><a class="nav-link {{ if eq $item $currentPage }}active{{ end }}" href="{{ $item.Permalink }}">{{ i18n "overview"}}</a></li>
{{ else if eq $item.Permalink $currentURL }}
<li class="nav-item iq-pl-10 {{ if eq $item.Permalink $currentURL }}active{{ end }}" style="padding-left: {{ (float (add $indent 1)) | mul 5.0 }}px;"><a class="nav-link {{ if eq $item.Permalink $currentURL }}active{{ end }}" href="{{ $item.Permalink }}">{{ i18n "overview"}}</a></li>
{{ else }}
<li class="nav-item iq-pl-10" style="padding-left: {{ (float (add $indent 1)) | mul 5.0 }}px;"><a class="nav-link" href="{{ $item.Permalink }}">{{ i18n "overview"}}</a></li>
{{ end }}		

{{ range $item.Pages.ByDate }}
{{ if .IsPage }}
{{ $isCurrentPage := eq .RelPermalink $currentURL }}
{{ $isDescendant := $currentPage.IsDescendant $item }}
{{ if or $isCurrentPage $isDescendant }}
<li class="nav-item iq-pl-10 {{ if eq . $currentPage }}active{{ end }}" style="padding-left: {{ (float (add $indent 1)) | mul 5.0 }}px;"><a class="nav-link {{ if eq . $currentPage }}active{{ end }}" href="{{ .Permalink }}">{{ .Title }}</a></li>
{{ else if or (eq .RelPermalink $currentURL) ($currentPage.IsDescendant $item) }}
<li class="nav-item iq-pl-10 {{ if eq .RelPermalink $currentURL }}active{{ end }}" style="padding-left: {{ (float (add $indent 1)) | mul 5.0 }}px;"><a class="nav-link {{ if eq .RelPermalink $currentURL }}active{{ end }}" href="{{ .Permalink }}">{{ .Title }}</a></li>
{{ else }}
<li class="nav-item iq-pl-10" style="padding-left: {{ (float (add $indent 1)) | mul 5.0 }}px;"><a class="nav-link" href="{{ .Permalink }}">{{ .Title }}</a></li>
{{ end }}
{{ else }}
{{ partial "left_bar_section.html" (dict "item" . "currentPage" $currentPage "currentURL" $currentURL "indent" (add $indent 1) "sub" true) }}
{{ end }}
{{ end }}
</ul>
</li>
{{ end }}
