{{ "<!-- topic-item -->" | safeHTML }}
<div id="content" style="width: 100%">
  <div class="container documentation">
    <div class="row">
      <div class="simple-section row w-100">
        {{ range .Data.Pages }}
          {{ $title := print .Title ""}}

          {{ if .Params.StartPage }}
            {{ $url := print .Permalink "" .Params.StartPage}}
            <div class="col-sm-12 col-md-6 p-2">
              {{ partial "post-card.html" (dict "post" . "url" $url) }}
            </div>
          {{ else }}
          {{ if .Params.carousel }}
            <div class="col-sm-12 col-md-12 p-2">
          {{ else }}
            <div class="col-sm-12 col-md-6 p-2">
          {{ end }}
            <div class="card h-100 p-2 w-100" style="max-width:100%;">
              <div class="card-body">
                <a href="{{ .Permalink }}" onmouseover="startHoverShowAll(this)"  onmouseout="endHoverShowAll(this)" class="button float-right">{{ i18n "show_all" }}<i
                    class="fas fa-long-arrow-alt-right"></i></a>
                <h5 class="card-title" style="clear:none;">{{ .Title }}</h5>
                <p class="card-text lead mb-4">{{ .Description | markdownify }}</p>
                <div class="section-with-sub row w-100 p-2">
                {{ range first 4 (sort .Pages ".Params.weight") }}
                <ul class="col-sm-12 col-md-6 p-2 flex">
                  {{ $url := print .Permalink ""}}
                  <a class="flex w-100" href="{{ $url }}">
                  <li class="card-clickable w-100">
                      <div class="wrap-icon-title">
                        {{ if .Params.icon }}
                          <i class="icon {{ .Params.icon }}"></i>
                        {{ end }}
                        {{ if .Params.image }}
                          <img class="imageIcon img-alfresco" src="{{ .Params.image }}"></img>
                        {{ end }}
                        <span class="wrap">{{ .Title }}</span>
                        <p class="text-muted small">{{ .Description }}</p>
                      </div>
                  </li>
                </a>
                </ul>
                {{ end }}
              </div>
              </div>
            </div>
          </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ "<!-- /topics -->" | safeHTML }}