//  tag shortcode
.tag {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
    position: relative;
    margin: 1.5625em 0;
    border-radius: .2rem;
    font-size: .64rem;
    overflow: auto;

    .header {
        border-bottom: 2px solid;
        margin: 0px!important;
        padding: 5px;
        height: 40px;
    }

    .title {
        margin-left: 15px;
        font-size: 1.5em;
        font-weight: 600;
        color: #949494;
    }

    .header span {
        position: relative;
        top: 3px;
        margin-right: 15px;
        font-size: 1.6em;
    }

    .content {
        font-size: 15px;
        margin: 20px 15px;
    }
}
.note {
    border-left: .2rem solid #448aff;

    .header {
        background: #ECF3FF;
        border-bottom-color: #d7e6ff;
    }

    span {
        color: #448aff;
    }
}
.example {
    border-left: .2rem solid #64DD17;

    .header {
        background: #EFFCE7;
        border-bottom-color: #d4fcbc;
    }
    span {
        color: #64DD17;
    }
}
.warning {
    border-left: .2rem solid #FF9100;

    .header {
        background: #FFF4E5;
        border-bottom-color: #ffe9cd;
    }
    span {
        color: #FF9100;
    }
}

.custom,
.code {
    border-left: .2rem solid #9E9E9E;

    .header {
        background: #e2e2e2;
        border-bottom-color: #d1d1d1;
    }
    span {
        color: #9E9E9E;
    }
}

//  \tag shortcode

//  tabs shortcode
.group-tabs {
    margin: 16px 0px;

    .nav-tabs {
    border-bottom: none;

        .active {
            background: #E2E2E2;
            border-bottom: none;
        }
    }
    
    .nav-item {
        margin: 0px;

        &::before {
            background: #e2e2e2;
        }

        &:hover {
            color: #5F5F5F;
        }
    }

    .nav-tab {
        &::before {
            background-color: transparent;
        }

        &:hover {
            color: $primary-color;
        } 
    }
    
    nav {
        margin-bottom: 0;
    }
}

.tab-pane {
    padding: 15px;
    border: 1px solid #DEE2E6;
    border-radius: .2rem;
    background: white;
    
}

.color-palette-single-color {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-bottom: 0px;
}

.color-palette-single-color-container {
    margin-bottom: 0px; 
    height: auto; 
    line-height: inherit; 
    display: inline-flex; 
}

.table-overflow .color-palette-single-color-container {
    justify-content: center; 
    width: 100%
}

//  \tabs shortcode
