// List page
.stories {
    // Background images properties :
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 70px;

    @include desktop {
        background-size: auto;
    }

    h2 {
        margin-bottom: 60px;

        span {
            background: rgba(34, 37, 37, 0.384);
        }
    }

    .item-container {
        padding: 10px 15px 10px 0px;
        margin-bottom: 20px;

        @include mobile {
            padding: 10px 60px;
        }

        &:hover {
            .item-background {
                box-shadow: 0px 4px 25px 0px rgba(27, 39, 71, 0.26);
                transform: translateY(-7px);

                a {
                    text-decoration: none;
                }

                .title {
                    p {
                        color: $primary-color;
                    }
                }
            }
        }

        .item-background {
            background: rgba(255, 255, 255, 0.6);
            padding: 0px;
            transition: all .2s linear;


            .logo {
                padding-top: 30px;
                margin-bottom: 20px;
                padding-left: 30px;
                padding-right: 30px;

                @include mobile {
                    width: 60%;
                    display: block;
                    margin-right: auto;
                    margin-left: auto;
                }

                @include mobile-xs {
                    width: 100%;
                }

                .icon {
                    width: 90px;
                }
            }

            .title {
                background: white;

                p {
                    padding: 10px 15px;
                    margin-bottom: 0px;
                }
            }
        }
    }
}

// Single pages
.companyStory {

    p,
    .p {
        text-align: justify;
    }

    .testimonial {

        p,
        .p {
            margin-bottom: 2px;

            span {
                color: #C2C2C2;
            }
        }
    }
}