.timeline {
    // For the vertical line
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

    // The head of the timeline
    .circle {
        background: #C7C7C7;
        width: 140px;
        height: 140px;
        border-radius: 140px;
        margin-bottom: 80px;

        // Center text verticaly
        display: flex;
        align-items: center;

        &::before {
            content: '';
            position: absolute;
            left: -15px;
            border: 2px solid #C7C7C7;
            border-radius: 200px;
            width: 170px;
            height: 170px;
        }
    }

    .timeline-title {
        color: white;
        text-align: center;
    }

    // The actual timeline (the vertical ruler)
    &::after {
        content: '';
        position: absolute;
        width: 3px;
        background-color: #C7C7C7;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-top: 100px;
        z-index: -1000;
    }

    .item {
        box-shadow: 0px 4px 35px 0px rgba(27, 39, 71, 0.15);
        background: white;
        transition: all .2s linear;


        @include desktop-xl {
            margin-bottom: -20px;
        }

        @include desktop-lg {
            margin-bottom: -20px;
        }

        @include desktop {
            margin-bottom: 40px;
        }

        &:hover {
            transform: translateY(-7px);

            a {
                text-decoration: none;
            }

            .content h4 {
                color: $primary-color;
            }
        }

        .icon-panel {
            display: flex;
            align-items: center;

            .icon {
                color: white;
                font-size: 25pt;
                display: block;
                margin: auto;
            }
        }

        .content {
            padding: 20px 30px;
            width: 100%;

            p {
                margin: 0px;
            }
        }

        .link {
            display: none;
        }
    }

    // Dot on the timeline and item arrow
    .left {

        // dot
        &::after {
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            background-color: $primary-color;
            border: 4px solid white;
            top: 35px;
            border-radius: 50%;
            z-index: 1;
            right: -23.5%;

            @include desktop-xl {
                right: -23.5%;
            }

            @include desktop-lg {
                right: -24.5%;
            }

            @include desktop {
                display: none;
            }
        }

        // arrow
        &::before {
            content: '\A';
            height: 0;
            width: 0;
            position: absolute;
            top: 30px;
            z-index: 1;
            right: -4%;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-left: 20px solid white;

            @include desktop {
                display: none;
            }
        }
    }

    .right {

        // dot
        &::after {
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            background-color: $primary-color;
            border: 4px solid white;
            top: 35px;
            border-radius: 50%;
            z-index: 1;
            left: -23%;

            @include desktop-xl {
                left: -23%;
            }

            @include desktop-lg {
                left: -23.5%;
            }

            @include desktop {
                display: none;
            }
        }

        // arrow
        &::before {
            content: '\A';
            height: 0;
            width: 0;
            position: absolute;
            top: 30px;
            z-index: 1;
            left: -4%;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-right: 20px solid white;

            @include desktop {
                display: none;
            }
        }
    }
}

// Challenge details CSS
.challenge {
    margin: 0px;

    // Typography
    // challenge big title (blue)
    h1,
    .h1 {
        font-size: 40px;
        color: $primary-color;

        @include mobile {
            font-size: 35px;
        }
    }

    // challenge subtitle (blue)
    h2,
    .h2 {
        font-size: 27px;
        color: $primary-color;

        @include mobile {
            font-size: 20px;
        }
    }

    // Text title (black)
    h3,
    .h3 {
        font-size: 27px;

        @include mobile {
            font-size: 20px;
        }
    }

    // Text quote tite (black)
    h4,
    .h4 {
        font-size: 17px;

        @include mobile {
            font-size: 17px;
        }
    }

    // Text subtite (blue)
    h5,
    .h5 {
        font-size: 22px;
        color: $primary-color;

        @include mobile {
            font-size: 19px;
        }
    }

    p,
    .p {
        text-align: justify;
    }


    .challenge-title {
        padding: 40px 100px 0px 100px !important;

        @include desktop-lg {
            padding: 30px 70px 0px 70px !important;
        }

        @include mobile {
            padding: 60px 30px 0px 30px !important;
        }
    }

    .background-div {
        margin-left: 0px !important;
        padding-left: 0px !important;

        margin-bottom: -99999px;
        padding-bottom: 99999px;
        margin-top: -99999px;
        padding-top: 99999px;

        @include desktop {
            margin-bottom: 0px;
            padding-bottom: 0px;
            margin-top: 0px;
            padding-top: 0px;
        }
    }

    li {
        // margin-bottom: 10px;
        line-height: 1.9;
        text-align: justify;
    }
}

#content-div {
    padding: 100px !important;

    @include desktop-lg {
        padding: 70px !important;
    }

    @include mobile {
        padding: 60px 30px !important;
    }
}