.versions {
    padding: 40px 0;

    &.header {
        background: $primary-color;
    }

    h1 {
        font-size: 20pt;
        text-align: center;
        margin-bottom: 0px !important;
        padding: 10px 5px;
        color: $white;
    }

    table {
        text-align: left;
        max-width: 100%;
        border: 1px solid #dee2e6;

        & td,
        & th {
            padding: .75rem;
            vertical-align: top;
            border: 1px solid #dee2e6;
            margin-bottom: 0;
        }

        thead {
            margin-bottom: 0;

            th {
                background: $primary-color;
                color: white;
            }
        }

        tbody {
            background: #f8f8f8;
            margin-bottom: 0;

            .col-version {
                width: 20%;
                white-space: nowrap;
                font-weight: bold;
            }

            .col-date {
                width: 20%;
                white-space: nowrap;
            }

            .col-desc {
                width: 60%;
            }
        }
    }

    .table-planned {
        thead th {
            background: lighten($primary-color, 25%);
        }
    }
}