// Good reasons
.good-reasons {
    position: relative;

    .img-intro {
        z-index: -1;
        width: 45%;
    }

    .reasons {
        background: white;
        // width: 100%;
        box-shadow: 0px 4px 25px 0px rgba(27, 39, 71, 0.15);
        padding: 30px 40px 18px 40px;
        // z-index: 10;

        p {
            line-height: 1.5rem;
        }

        .more:hover::after {
            content: "";
            margin-left: 7px;
            margin-bottom: 2px;

            //Arrow down :
            border: solid $primary-color;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }
    }

    .reasons-left {
        position: absolute;
        top: 40px;
        z-index: 1;
    }

    .reasons-right {
        position: absolute;
        // bottom: -150px;
        top: 200px;
        right: 0px;
    }

    .number {
        font-size: 2rem;
        color: $primary-color;
        font-weight: bold;
        padding-right: 10px;
    }
}

@include desktop-lg {
    .good-reasons {
        position: relative;
        margin-bottom: 150px;

        .img-intro {
            width: 70%;
            position: relative;
            right: -20px;
            top: 100px;
            z-index: -1;
        }

        .reasons-left {
            position: absolute;
            top: 0px;
        }

        .reasons-right {
            position: absolute;
            top: 450px;
        }
    }
}

@include desktop {
    .good-reasons {
        margin-bottom: 130px;

        .reasons-right {
            top: 350px;
        }
    }
}

@include tablet {
    .good-reasons {
        margin-bottom: 130px;
        // box-shadow: 0px 4px 25px 0px rgba(27, 39, 71, 0.15);
        // padding: 30px 40px 18px 40px;

        .img-intro {
            // display: none;
            width: 80%;
            left: 0px;
            top: 0px;
            z-index: -1;
            margin-bottom: 30px !important;
        }

        .reasons {
            // box-shadow: none;
            box-shadow: 0px 4px 25px 0px rgba(27, 39, 71, 0.15);
            // margin: 0px;
            margin-bottom: 30px;
            width: 100%;
            // padding: 0px;
            padding: 30px 40px 18px 40px;

        }

        .reasons-left {
            position: relative;
        }

        .reasons-right {
            position: relative;
            top: 0px;
        }

    }
}

.notDisplayed {
    display: none;
}

//  /Good reasons

// SaaS 
.saas {

    //notclicked css state
    .saas-items {
        .number {
            transition: all .2s linear;
            background-color: #C9C9C9;

            p {
                margin: 0px;
                font-weight: bolder;
                font-size: 30px;
            }
        }

        .more {
            transition: all .2s linear;
            position: absolute;
            bottom: 22px;

            i {
                font-weight: bolder;
            }
        }

        &:hover {
            .more {
                transform: translateY(-30%);
            }

            .number {
                background: $primary-color;
            }
        }
    }

    .clicked {
        transition: all .2s linear;
        background: $primary-color;

        .more {
            bottom: 45%;

            i {
                color: white !important;
            }
        }

        .number,
        .title {
            display: none;
        }
    }
}

// /Saas

// Arrow down toggle
.arrow-toggle {
    .arrow {
        transition: all .2s linear;
        padding: 10px 0px 15px 0px;

        i {
            font-weight: bolder;
        }
    }

    &:hover {
        .arrow {
            transform: translateY(30%);
        }

    }
}

li::marker {
    color: transparent;
}

.card {
    box-shadow: 0 3px 7px -1px rgba(0,0,0, .1);
    border: 1px solid rgba(0,0,0,.125);
    transition: all .2s linear;
    margin: auto;
}

.card-clickable-parent {
    cursor: pointer;
    transition: all .1s linear;
    box-shadow: 0px 4px 25px 0px rgba(27, 39, 71, 0.15);
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
  }

.icon-bg {
    background: none;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
}

.icon-bg i {
    font-size: 50px;
    line-height: 100px;
    color: $primary-color;
}

#back-to-top .top {
    z-index: 999;
    position: fixed;
    margin: 0px;
    color: #fff;
    background: #333333;
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 999;
    font-size: 26px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 90px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
  
#back-to-top .top:hover {
    background: $primary-color;
    color: #fff;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.affix {
    width: 100%;
    position: sticky;
    top: 150px;
}