<!DOCTYPE html>
<html lang="fr">

{{ partial "head.html" . }}

<body data-spy="scroll" data-target="#TableOfContents" data-offset="80" class="single-default">

  <div id="all">

    <header>
      {{ partial "nav.html" . }}
    </header>

    {{ partial "breadcrumbs.html" . }}

    <div id="content">
      {{ if isset .Params "id" }}

      {{ partial .Params.id . }}

      {{ else }}

      <div class="container">

        <div class="row">

          <!-- *** LEFT COLUMN *** -->

          <div class="col-md-9" id="blog-post">

            <p class="text-muted text-uppercase mb-small text-right">{{ if .Params.author }}By <a
                href="#">{{ .Params.author }}</a> | {{ end }}{{ .Date.Format .Site.Params.date_format }}</p>

            <div id="post-content">
              {{ .Content }}
            </div>
            <!-- /#post-content -->
            {{ if .Site.DisqusShortname }}
            <div id="comments">
              {{ template "_internal/disqus.html" . }}
            </div>
            {{ end }}

          </div>
          <!-- /#blog-post -->

          <!-- *** LEFT COLUMN END *** -->

          <!-- *** RIGHT COLUMN *** -->

          <div class="col-md-3">

            <!-- *** MENUS AND WIDGETS *** -->


            {{ partial "right_bar_with_tags.html" . }}


            <!-- *** MENUS AND FILTERS END *** -->

          </div>
          <!-- /.col-md-3 -->

          <!-- *** RIGHT COLUMN END *** -->

        </div>
        <!-- /.row -->

      </div>
      <!-- /.container -->
      {{ end }}
    </div>
    <!-- /#content -->

    {{ partial "footer.html" . }}

    {{ partial "sticky.html" . }}

  </div>
  <!-- /#all -->

  {{ partial "scripts.html" . }}

</body>

</html>