@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap");

:root {
  --md-text-font: "Roboto";
  --md-code-font: "Roboto Mono";

  --md-primary-fg-color: #0a0a0a;
  --md-accent-fg-color: #7d67ac;

  --md-code-bg-color: #f0f0ff;

  --md-typeset-a-color: var(--md-accent-fg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #0a0a0a;
  --md-accent-fg-color: #9e88d4;
  --md-typeset-a-color: #f0f0ff;
  --md-code-bg-color: #2e2e34;
  --md-default-fg-color: #cccccc;
  --md-default-bg-color: #1c1c1f;
}
