<!DOCTYPE html>
<html lang="fr">

{{ partial "head.html" . }}

<body data-spy="scroll" data-offset="80">

	<div id="all">

		<header> {{ partial "nav.html" . }} </header>

		{{ partial "breadcrumbs.html" . }}

		<div id="content">
			<div class="container">

				<div class="row">
					<div class="col-md-9 release" id="blog-post">
						<p class="text-muted mb-small text-right">
							{{ if .Parent.Params.releasedate }} {{ .Site.Params.publish }} {{ .Parent.Params.releasedate }} {{ end }}
							{{ if .Parent.Params.FixDate }} {{ .Site.Params.update }} {{ .Parent.Params.FixDate }} {{ end }}
						</p>
						<p>
							{{ if .Parent.Params.FixVersion }} {{ .Site.Params.lastVersionIs }} 
							{{ .Parent.Params.title }}.{{ .Parent.Params.FixVersion }} {{ end }} <br>
							{{ .Site.Params.prerequisiteList }}
							<ul>
								{{ if .Parent.Params.ARenderVersion }}<li> ARender : {{ .Parent.Params.ARenderVersion }}</li>{{ end }}
								{{ if .Parent.Params.RedisVersion }}<li> Redis : {{ .Parent.Params.RedisVersion }}</li>{{ end }}
								{{ if .Parent.Params.ESVersion }}<li> Elasticsearch : {{ .Parent.Params.ESVersion }}</li>{{ end }}
								{{ if .Parent.Params.OSVersion }}<li> OpenSearch : {{ .Parent.Params.OSVersion }}</li>{{ end }}
							</ul>
							
						<p>
						<div id="post-content" style="text-align:left!important;">
							{{ .Content }}
							<h1 id="downloads">Téléchargements</h1>
							{{ partial "download.html" . }}

							<ul class="pager">
								<li class="next"><a href="{{ .Permalink }}../..">Autres versions</a></li>
							</ul>
						</div>
						<!-- /#post-content -->
						{{ if .Site.DisqusShortname }}
						<div id="comments">{{ template "_internal/disqus.html" . }}</div>
						{{ end }}
					</div>
					<!-- /#blog-post -->

					<!-- *** LEFT COLUMN END *** -->

					<!-- *** RIGHT COLUMN *** -->

					<div class="col-md-3">
						{{ partial "right_bar.html" . }}
					</div>
					<!-- /.col-md-3 -->

					<!-- *** RIGHT COLUMN END *** -->

				</div>
				<!-- /.row -->

			</div>
			<!-- /.container -->
		</div>
		<!-- /#content -->

		{{ partial "footer.html" . }} {{ partial "sticky.html" . }}

	</div>
	<!-- /#all -->

	{{ partial "scripts.html" . }}

</body>

</html>

<script>
	$('body').on('click', function (e) {
		if ($(e.target).parents('.popover').length === 0 && $(e.target).parents('.release-ticket').length === 0) {
			$('.release .release-ticket').popover('hide');
		}
	});
	$('.release .release-ticket').popover({
		container: 'body',
		html: true,
		content: function () {
			var id = $(this).attr('id');
			if (!id) {
				id = '';
			}
			var content  = "<a href='https://arondor.atlassian.net/browse/" + id + "' target='_blank'>" + id + "</a>";
			var ticketIdsAttr = $(this).attr('data-tickets');
			if(!ticketIdsAttr){
				return content;
			}

			var ticketIds = ticketIdsAttr.split(/\s*,\s*/);
			for(var i = 0; i < ticketIds.length; i++)
			{
				content += "<a href='https://arondor.atlassian.net/browse/" + ticketIds[i] + "' target='_blank'>" + ticketIds[i]  + "</a>";
			}	
			return content;	
		}
	});
</script>